body {
  font-family: system-ui;
  margin: 2em;
}

h1 {
  color: #373fff;
}

font-select {
  display: block;
  margin-block-end: 1em;
  --input-height: 1.3125em;
  height: var(--input-height);
}

.preview {
  padding: 0.25rem;
  border: solid 1px FieldText;
}
